  h2{
     margin-left:6.5%;
   }
   .fa {
     padding: 20px;
     font-size: 30px;
     width: 60px;
     height:60px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
   }
   .fa-facebook {
     background: #3B5998;
    color: white;
   }
   .fa-twitter {
    background: #55ACEE;
    color: white;
   }
